In [2]:
import pandas as pd

# display 확장
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000)

# train, valid, test file 경로 지정

file = 'physionet2012_train.csv'
file2 = 'physionet2012_valid.csv'
file3 = 'physionet2012_test.csv'

# train data 로딩
df = pd.read_csv(file, index_col=None)
del df['Unnamed: 0']
df.head()

# valid data 로딩
valid_df = pd.read_csv(file2, index_col=None)
del valid_df['Unnamed: 0']
valid_df.head()

# tess data 로딩
test_df = pd.read_csv(file3, index_col=None)
del test_df['Unnamed: 0']
test_df.head()

,pid,rec_time,age,Gender,ICUType,ALP,ALT,AST,Albumin,BUN,Bilirubin,Cholesterol,Creatinine,FiO2,GCS,Glucose,HCO3,HCT,HR,K,Lactate,Mg,Na,PaCO2,PaO2,Platelets,RR,SPO2,BT,Tropl,TroponinI,TropT,TroponinT,Urine,WBC,pH,MechVent,survival,SBP,DBP,MBP,male,female,surv_los
0,135089,0:00:00,90.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,97.0,37.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,116.0,58.0,77.0,1,0,-7
1,135089,0:44:00,90.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,NaN,2.9,NaN,NaN,NaN,NaN,NaN,19.0,97.0,37.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,116.0,58.0,77.0,1,0,-7
2,135089,2:09:00,90.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,97.0,38.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,116.0,58.0,77.0,1,0,-7
3,135089,2:10:00,90.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,97.0,38.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,116.0,58.0,77.0,1,0,-7
4,135089,2:15:00,90.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,97.0,38.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,116.0,58.0,77.0,1,0,-7

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242613 entries, 0 to 242612
Data columns (total 44 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   pid          242613 non-null  int64
 1   rec_time     242613 non-null  object
 2   age          242613 non-null  float64
 3   Gender       242613 non-null  float64
 4   ICUType      242613 non-null  float64
 5   ALP          2480 non-null    float64
 6   ALT          2549 non-null    float64
 7   AST          2552 non-null    float64
 8   Albumin      1892 non-null    float64
 9   BUN          11220 non-null   float64
 10  Bilirubin    2551 non-null    float64
 11  Cholesterol  273 non-null     float64
 12  Creatinine   11274 non-null   float64
 13  FiO2         26127 non-null   float64
 14  GCS          49959 non-null   float64
 15  Glucose      10513 non-null   float64
 16  HCO3         10972 non-null   float64
 17  HCT          14762 non-null   float64
 18  HR           242613 non-null  float64
 19  K            11633 non-null   float64
 20  Lactate      6477 non-null    float64
 21  Mg           10988 non-null   float64
 22  Na           10928 non-null   float64
 23  PaCO2        18805 non-null   float64
 24  PaO2         18781 non-null   float64
 25  Platelets    11380 non-null   float64
 26  RR           242613 non-null  float64
 27  SPO2         242613 non-null  float64
 28  BT           242613 non-null  float64
 29  Tropl        0 non-null       float64
 30  TroponinI    371 non-null     float64
 31  TropT        0 non-null       float64
 32  TroponinT    1735 non-null    float64
 33  Urine        109878 non-null  float64
 34  WBC          10410 non-null   float64
 35  pH           19676 non-null   float64
 36  MechVent     25119 non-null   float64
 37  survival     242613 non-null  int64
 38  SBP          242613 non-null  float64
 39  DBP          242613 non-null  float64
 40  MBP          242613 non-null  float64
 41  male         242613 non-null  int64
 42  female       242613 non-null  int64
 43  surv_los     242613 non-null  int64
dtypes: float64(38), int64(5), object(1)
memory usage: 81.4+ MB

In [3]:
df.columns

Index(['pid', 'rec_time', 'age', 'Gender', 'ICUType', 'ALP', 'ALT', 'AST',
       'Albumin', 'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'FiO2',
       'GCS', 'Glucose', 'HCO3', 'HCT', 'HR', 'K', 'Lactate', 'Mg', 'Na',
       'PaCO2', 'PaO2', 'Platelets', 'RR', 'SPO2', 'BT', 'Tropl', 'TroponinI',
       'TropT', 'TroponinT', 'Urine', 'WBC', 'pH', 'MechVent', 'survival',
       'SBP', 'DBP', 'MBP', 'male', 'female', 'surv_los'],
      dtype='object')

In [ ]:
# 데이터 수와 환자 수 파악
print('총 데이터 수: {}'.format(len(df)))
print('총 환자 수: {}'.format(len(df.pid.unique())))

print('총 데이터 수: {}'.format(len(valid_df)))
print('총 환자 수: {}'.format(len(valid_df.pid.unique())))

print('총 데이터 수: {}'.format(len(test_df)))
print('총 환자 수: {}'.format(len(test_df.pid.unique())))

In [2]:
# dtype 파악
df

,pid,rec_time,age,Gender,ICUType,ALP,ALT,AST,Albumin,BUN,Bilirubin,Cholesterol,Creatinine,FiO2,GCS,Glucose,HCO3,HCT,HR,K,Lactate,Mg,Na,PaCO2,PaO2,Platelets,RR,SPO2,BT,Tropl,TroponinI,TropT,TroponinT,Urine,WBC,pH,MechVent,survival,SBP,DBP,MBP,male,female,surv_los
0,142219,0:00:00,52.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,97.0,37.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,116.0,58.0,77.0,1,0,-8
1,142219,0:44:00,52.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN,NaN,NaN,NaN,103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,97.0,37.1,NaN,NaN,NaN,NaN,500.0,NaN,NaN,NaN,-1,116.0,58.0,77.0,1,0,-8
2,142219,1:14:00,52.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,97.0,37.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,0.0,0.0,224.0,1,0,-8
3,142219,1:44:00,52.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,97.0,37.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,0.0,0.0,135.0,1,0,-8
4,142219,1:54:00,52.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,97.0,37.1,NaN,NaN,NaN,NaN,450.0,NaN,NaN,NaN,-1,217.0,108.0,133.0,1,0,-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242608,138581,"1 day, 20:36:00",53.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,8.0,NaN,NaN,NaN,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,100.0,36.9,NaN,NaN,NaN,NaN,80.0,NaN,NaN,1.0,17,114.0,65.0,84.0,1,0,-1
242609,138581,"1 day, 21:36:00",53.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,100.0,36.9,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,17,111.0,61.0,80.0,1,0,-1
242610,138581,"1 day, 22:36:00",53.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,100.0,36.9,NaN,NaN,NaN,NaN,45.0,NaN,NaN,NaN,17,109.0,62.0,80.0,1,0,-1
242611,138581,"1 day, 23:36:00",53.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,100.0,36.9,NaN,NaN,NaN,NaN,50.0,NaN,NaN,NaN,17,111.0,63.0,80.0,1,0,-1
242612,138581,"1 day, 23:49:00",53.0,1.0,4.0,NaN,NaN,NaN,NaN,17.0,NaN,NaN,0.8,NaN,NaN,137.0,25.0,22.6,85.0,4.1,NaN,1.7,132.0,NaN,NaN,178.0,19.0,100.0,36.9,NaN,NaN,NaN,NaN,NaN,12.1,NaN,NaN,17,111.0,63.0,80.0,1,0,-1

In [5]:
df.surv_los

0        -8
1        -8
2        -8
3        -8
4        -8
         ..
242608   -1
242609   -1
242610   -1
242611   -1
242612   -1
Name: surv_los, Length: 242613, dtype: int64

In [ ]:
# null_ratio = 0.5
# over_05 = df.notnull().sum()[(df.notnull().sum() / len(df)) > null_ratio].map(lambda x: x / len(df))

# print(f"결측치 비율이 0.5 이상인 컬럼 수: {len(over_05)}")
# over_05
# over_columns = over_05.index
# print(over_columns)

# df2 = df[over_columns]
# df2.head()

In [ ]:
df.columns

## 1. 생존 유무 라벨링(0: survival, 1:death)
- Survival > Length of stay  ⇒  Survivor
- Survival = -1  ⇒  Survivor
- 2 ≤ Survival ≤ Length of stay  ⇒  In-hospital death

In [6]:
import numpy as np

# train 데이터 생존 유무 라벨링
labels = np.zeros(len(df))
labels[df[(2 <= df.survival) & (df.survival <= df.surv_los)].index.to_list()] = 1
labels[df[df.survival > df.surv_los].index.to_list()] = 0
labels[df[df.survival == -1].index.to_list()] = 0
df['labels'] = labels

cnt = df[['pid', 'labels']].drop_duplicates(['pid'])['labels'].value_counts()
print(f'num of survival: {cnt.iloc[0]} \n num of death: {cnt.iloc[1]}')

# valid data 생존 유무 라벨링
valid_labels = np.zeros(len(valid_df))
valid_labels[valid_df[(2 <= valid_df.survival) & (valid_df.survival <= valid_df.surv_los)].index.to_list()] = 1
valid_labels[valid_df[valid_df.survival > valid_df.surv_los].index.to_list()] = 0
valid_labels[valid_df[valid_df.survival == -1].index.to_list()] = 0
valid_df['labels'] = valid_labels

cnt = valid_df[['pid', 'labels']].drop_duplicates(['pid'])['labels'].value_counts()
print(f'num of survival: {cnt.iloc[0]} \n num of death: {cnt.iloc[1]}')

# test data 생존 유무 라벨링
test_labels = np.zeros(len(test_df))
test_labels[test_df[(2 <= test_df.survival) & (test_df.survival <= test_df.surv_los)].index.to_list()] = 1
test_labels[test_df[test_df.survival > test_df.surv_los].index.to_list()] = 0
test_labels[test_df[test_df.survival == -1].index.to_list()] = 0
test_df['labels'] = test_labels

cnt = test_df[['pid', 'labels']].drop_duplicates(['pid'])['labels'].value_counts()
print(f'num of survival: {cnt.iloc[0]} \n num of death: {cnt.iloc[1]}')

num of survival: 3236
 num of death: 4
num of survival: 359
 num of death: 1
num of survival: 398
 num of death: 2

In [ ]:
df.head()

## 2. 데이터 전처리 - 결측치 채우기
 - 1. fillna(method='ffill')
 - 2. fillna(컬럼별 median)
 - 3. 의문점1) 결측치 비율이 0.5가 넘는 컬럼도 무리하게 결측치를 채워 사용해도 되는가?
 - 4. 의문점2) method='ffill'을 사용하면 다른 pid의 컬럼 내용을 가져올 리는 없는가?

In [ ]:
# dropna method 연습
test = pd.DataFrame([[1,1,np.nan],
                     [2,2,np.nan],
                     [np.nan, 3, np.nan],
                     [np.nan,4,4],
                     [5,5,5],
                     [np.nan, np.nan, np.nan]])
print(test)
test2 = test.fillna(method='ffill', axis=1)
print(test2)
test3 = test2.fillna(method='bfill', axis=1)
print(test3)

In [ ]:
# train 데이터 결측치 채우기
df2 = df.copy()
pids = df2.pid.unique()
df_list = []
for pidd in pids:
    # 환자별 컬럼별로 만약 np.nan이 존재한다면, 이전 데이터의 값을 가지고 채운다. method='ffill'
    new_df = df2[df2.pid == pidd].fillna(method='ffill')
    # 환자별 컬럼별로 만약 맨 처음 데이터가 np.nan이 존재한다면 ffill을 사용할 수 없으므로, method='bfill'을 사용한다.
    # 하지만, 미래 데이터를 끌어와 사용하는 것이므로 이건 고민해 봐야 한다.
    new_df = new_df[new_df.pid == pidd].fillna(method='bfill', axis=0)
    df_list.append(new_df)
df3 = pd.concat(df_list)
# 특정환자의 경우 컬럼별로 단 하나의 데이터도 없는 경우가 있는데, 이런 경우는 다른 환자들의 median값을 사용한다.
df3.fillna(df3.median(), inplace=True)

# valid 데이터 결측치 채우기
valid_df2 = valid_df.copy()
pids = valid_df2.pid.unique()
valid_df_list = []
for pidd in pids:
    new_df = valid_df2[valid_df2.pid == pidd].fillna(method='ffill')
    new_df = new_df[new_df.pid == pidd].fillna(method='bfill', axis=0)
    valid_df_list.append(new_df)
valid_df3 = pd.concat(valid_df_list)
valid_df3.fillna(valid_df3.median(), inplace=True)

# test 데이터 결측치 채우기
test_df2 = test_df.copy()
pids = test_df2.pid.unique()
df_list = []
for pidd in pids:
    new_df = test_df2[test_df2.pid == pidd].fillna(method='ffill')
    new_df = new_df[new_df.pid == pidd].fillna(method='bfill', axis=0)
    df_list.append(new_df)
test_df3 = pd.concat(df_list)
test_df3.fillna(test_df3.median(), inplace=True)

In [ ]:
# 데이터 개수와 컬럼별 null 개수 확인
print(len(df3))
pd.DataFrame(df3.isnull().sum())

print(len(valid_df3))
pd.DataFrame(valid_df3.isnull().sum())

print(len(test_df3))
pd.DataFrame(test_df3.isnull().sum())

In [ ]:
# 데이터가 단 하나도 없는 column 'Tropl', 'TropT' 제외
# 'rec_time'은 이후 padding에서 np.zeros에 string 데이터가 들어갈 수 없는 문제를 해결하기 위해 미리 제거
df4 = df3.drop(columns=['Tropl', 'TropT', 'rec_time'])
pd.DataFrame(df4.isnull().sum())

valid_df4 = valid_df3.drop(columns=['Tropl', 'TropT', 'rec_time'])
pd.DataFrame(valid_df4.isnull().sum())

test_df4 = test_df3.drop(columns=['Tropl', 'TropT', 'rec_time'])
pd.DataFrame(test_df4.isnull().sum())

## 3. zero-padding
- maxlen 보다 적은 수의 데이터를 가진 환자들은 zero-padding으로 데이터를 채워넣는다.
- maxlen 보다 큰 수의 데이터는 maxlen 크기만큼 데이터를 자른다.
- maxlen = 70
- pre-zero-padding
- np.zeros에 string이 들어갈 수 없기 때문에 rec_time column을 제외시키자.(앞선 코드에서 적용함.)
- 여전히 남은 의문점: 측정되지 않았다고 모든 컬럼에 0.0을 넣어도 될까? 실제 그 수치가 아닐 수도 있는데? 모르는 것과 없는 것은 다를텐데 이를 어떻게 이해해야 할지.

In [ ]:

maxlen = 70

# zero-padding 함수
def zero_padding(dataframe, maxlen):
    maxlen = maxlen
    df4 = dataframe
    col_len = len(df4.columns)
    data = []
    # 기본정보는 zero_padding에 모두 동일하게 적용되어야 함으로 따로 취급한다. 나머지는 모두 0.0으로 채운다.
    basic_col = 'pid, age, Gender, ICUType, survival, male, female, surv_los, LOS, labels'
    basic_col_list = basic_col.split(', ')
    basic_col_indexer = df4.columns.get_indexer(basic_col_list)
    basic_col_indexer

    for pid in df4.pid.drop_duplicates().to_numpy():
        if len(df4[df4.pid == pid]) >= 70:
            dummy = df4[df4.pid == pid].to_numpy().tolist()
            data.append(dummy[:maxlen])
        else:
            length = len(df4[df4.pid == pid])
            base = np.zeros((maxlen, col_len))
            for idx in basic_col_indexer:
                base[:, idx] = df4[df4.pid == pid].iloc[0, idx]
            # print(base.shape)
            dummy = df4[df4.pid == pid].to_numpy()
            # print(dummy.shape)
            base[-length:] = dummy
            # print(base.shape)
            # base[:length, 0] = pid
            # base[:length, -1] = dummy[0, -1] 
            data.append(base.tolist())
    return data

data = zero_padding(df4, maxlen)
valid_data = zero_padding(valid_df4, maxlen)
test_data = zero_padding(test_df4, maxlen)

In [ ]:
# zero_padding 결과는 list 형식의 3차원 데이터(참고로 리스트에는 차원이 없지만 쉬운 이해를 위해 차원이라 함.)
# train 데이터 결과를 dataframe으로 변환
data = np.array(data)
data = data.reshape((-1, len(df4.columns)))
df5 = pd.DataFrame(data, columns=df4.columns)
# train data 환자 수: 3240
print(3240* 70, len(df5))
df5

valid_data = np.array(valid_data)
valid_data = valid_data.reshape((-1, len(valid_df4.columns)))
valid_df5 = pd.DataFrame(valid_data, columns=valid_df4.columns)
# valid data 환자 수: 360
print(360* 70, len(valid_df5))
valid_df5

test_data = np.array(test_data)
test_data = test_data.reshape((-1, len(test_df4.columns)))
test_df5 = pd.DataFrame(test_data, columns=df4.columns)
# test
# data 환자 수: 400
print(400* 70, len(test_df5))
test_df5

In [ ]:
# train 데이터의 생존자 수와 사망자 수 확인
df5.shape
df5.pid.value_counts()
df5[['pid', 'labels']].drop_duplicates(['pid'])['labels'].value_counts()

valid_df5.shape
valid_df5.pid.value_counts()
valid_df5[['pid', 'labels']].drop_duplicates(['pid'])['labels'].value_counts()

test_df5.shape
test_df5.pid.value_counts()
test_df5[['pid', 'labels']].drop_duplicates(['pid'])['labels'].value_counts()

## 4. Normalization
- 기본 정보, categorical(숫자로 되어 있지만 명목 변수)은 정규화 대상에서 제외
- minmax scaler를 활용함.

In [ ]:
df5.head()

In [ ]:
import matplotlib.pyplot as plt

bins = [i for i in range(1, 100, 5)]
cats = pd.cut(df5.age, bins, labels=bins[:-1])
cats.value_counts().plot.bar()

icu_type = {1.: '관상동맥치료실', 2.: '심장수술회복실', 3.: '의료ICU', 4.: '외과ICU'}
df5.ICUType.value_counts().plot.bar()

In [ ]:
# y = df3.labels.copy()
# X = df3.drop(columns=['labels'])
# for i, col in enumerate(X.columns):
#     X[col] = (X[col] - X[col].mean()) / X[col].std()
#     # print(i)

In [ ]:
# # Gender 중에 -1 값을 갖는 pid가 3개 있음.
# print(df5[df5.Gender == -1.]['pid'].unique())

# # 확인 결과 Gender {1:'male', 0:'female'}
# print(df5[df5.Gender == 1]['male'])

# # 확인 결과, Gender==-1은 male 인 것으로 판단되어 -1을 1로 치환함. 
# print(df5.Gender.value_counts())
# # print(pd.DataFrame(df5[df5.Gender == -1]['female']))
# print(pd.DataFrame(df5[df5.Gender == -1]['male']))

df5.Gender.replace({-1.:1.0}, inplace=True)
df5.Gender.value_counts()

In [ ]:
df5

In [ ]:
# 'ICUType' 원-핫 인코딩
df6 = pd.get_dummies(df5, columns=['ICUType'])
print(len(df5.columns))
print(len(df6.columns))
print('ICUType' in df6.columns)

valid_df6 = pd.get_dummies(valid_df5, columns=['ICUType'])
# print(len(valid_df5.columns))
# print(len(valid_df6.columns))
# print('ICUType' in valid_df6.columns)

test_df6 = pd.get_dummies(test_df5, columns=['ICUType'])
# print(len(test_df5.columns))
# print(len(test_df6.columns))
# print('ICUType' in test_df6.columns)

In [ ]:
df6

In [ ]:
# labels 컬럼 인덱스 찾기
inx = test_df6.columns.get_indexer(['labels'])
print(inx)

# X, y 분리
y_train = df6['labels']
X_train_nonorm = df6.drop(columns=['pid', 'Gender', 'survival', 'surv_los', 'LOS', 'labels'])
print(y_train.shape)
print(X_train_nonorm.shape)

y_valid = valid_df6['labels']
X_valid_nonorm = valid_df6.drop(columns=['pid', 'Gender', 'survival', 'surv_los', 'LOS', 'labels'])
print(y_valid.shape)
print(X_valid_nonorm.shape)

y_test = test_df6['labels']
X_test_nonorm = test_df6.drop(columns=['pid', 'Gender', 'survival', 'surv_los', 'LOS', 'labels'])
print(y_test.shape)
print(X_test_nonorm.shape)